body {
	--bs-body-bg: #f5f5f5;
	--bs-link-color-rgb: 6, 95, 173;
	/* #065fad */
	--bs-link-hover-color-rgb: 4, 63, 115;
	/* A darker shade for hover */
	--pngx-primary: #065fad;
	--pngx-primary-hover: #043f73;
	/* A darker shade for hover */
	--pngx-primary-active: #03305a;
	/* An even darker shade for active */
}

.logo {
	height: auto;
}

.byline {
	font-size: 0.6rem;
	letter-spacing: 0.1rem;
}

.text-primary {
	color: var(--pngx-primary) !important;
}

.form-control {
	--bs-body-bg: #fff;
}

.btn.btn-primary {
	--bs-btn-bg: var(--pngx-primary);
	--bs-btn-border-color: var(--pngx-primary);
	--bs-btn-hover-bg: var(--pngx-primary-hover);
	--bs-btn-hover-border-color: #03305a;
	/* Matching the active color or a slightly darker hover border */
	--bs-btn-active-bg: var(--pngx-primary-active);
	--bs-btn-active-border-color: #02213d;
	/* Even darker border for active */
}

.btn-link {
	--bs-btn-color: var(--pngx-primary);
	--bs-btn-hover-color: var(--pngx-primary-hover);
	--bs-btn-active-color: var(--pngx-primary-active);
}

.form-accounts {
	max-width: 330px;
	min-width: 300px;
}

.form-stacked-top input {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-stacked-middle input {
	margin-bottom: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-stacked-bottom input {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.form-accounts .form-floating input:focus {
	position: relative;
	z-index: 100;
}

.form-accounts .form-floating input:focus~label {
	z-index: 101;
}

@media (prefers-color-scheme: dark) {

	/* From theme_dark.scss */
	body {
		--bs-body-bg: #161618;
		--bs-body-color: #abb2bf;
		--bs-body-color-rgb: 171, 178, 191;
		--bs-border-color: #47494f;
	}

	.form-control,
	.form-floating {
		--bs-body-bg: #1c1c1f;
	}

	svg.logo .text {
		fill: #abb2bf !important;
	}

	.byline {
		color: #abb2bf;
	}
}
